<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/user.css">

    <title> Document</title>
  </head>
  <body>
    <div class="sidebar">
            <div class="header">
                <div class="list-item">
                    <a href="#">
                        <span class="description-header">Attendance Web</span>
                    </a>
                </div>

                <div class="illustration">
                    <img src="img/illustration.png" alt="">
                </div>

            <div class="main">
                <div class="list-item">
                    <a href="/">
                        <img src="img/attendance.png" alt="" class="icon">
                        <span class="description">Attendance</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="/leave">
                        <img src="img/leave.png" alt="" class="icon">
                        <span class="description">Leave</span>
                    </a>
                </div>
                <div class="list-item">
                    <a href="login">
                        <img src="img/logout.png" alt="" class="icon">
                        <span class="description">Logout</span>
                    </a>
                </div>
            </div>
        </div>

    <div class="main-content">
            <div class="card">
                <div class="card-header">
                    Leave
                </div>
                <div class="card-body">
                    <form action="/leave" method="POST">
                        <div class="mb-2">
                            <label for="employeeId" class="form-label">EmployeeId</label>
                            <input type="text" class="form-control" id="employeeId" name="employeeId">
                        </div>
                        <div class="mb-2">
                            <label for="date" class="form-label">Date</label>
                            <input type="date" class="form-control" id="date" name="date">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
    </div>  


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>